<h1>Listing bush_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bush_types.each do |bush_type| %>
      <tr>
        <td><%= bush_type.name %></td>
        <td><%= link_to 'Show', bush_type %></td>
        <td><%= link_to 'Edit', edit_bush_type_path(bush_type) %></td>
        <td><%= link_to 'Destroy', bush_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bush type', new_bush_type_path %>
