<%- model_class = SectionYield -%>
<div class="page-header">
  <h1><%=t '.title', :default => SectionYield %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:budget) %></th>
      <th><%= model_class.human_attribute_name(:actual) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @section_yields.each do |section_yield| %>
      <tr>
        <td><%= section_yield.id %></td>
        <td><%= section_yield.budget %></td>
        <td><%= section_yield.actual %></td>
        <td><%= section_yield.year %></td>
        <td><%=l section_yield.created_at, format: :long %></td>
        <td>
          <%= link_to section_yield_path(section_yield), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to section_yield_path(section_yield), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_section_yield_path,
            :class => 'btn btn-primary' %>
