<h1>Listing prune_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prune_types.each do |prune_type| %>
      <tr>
        <td><%= prune_type.name %></td>
        <td><%= link_to 'Show', prune_type %></td>
        <td><%= link_to 'Edit', edit_prune_type_path(prune_type) %></td>
        <td><%= link_to 'Destroy', prune_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prune type', new_prune_type_path %>
