<%= simple_form_for(@section_division) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :year %>
    <%= f.association :section %>
    <%= f.association :division %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
